@charset "utf-8";
/**
 * StyleName : _base
 * -Main contents styles
 */

/** Main contents 
------------------------------ **/

.mainContents .article h3,
#mainTopics h2,
#listTopics h2,
.mainContents div.gallery h3 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.15em;
  color: #333;
}

#mainArticles h2,
#mainServices h2,
#mainTopics h2,
#listTopics h2 {
  margin-bottom: 25px;
  padding-bottom: 18px;
  border-bottom: solid 4px #e9e9e9;
  font-size: 26px;
  letter-spacing: 0.2em;
  font-weight: normal;
  color: #333;
  text-align: center;
}

/** Pankuz **/
.pankuz p {
  margin-bottom: 18px;
  font-size: 11px;
  color: #b0b0b0;
  text-align: right;
}

/** Articles **/
#mainArticles {
  width: 980px;
  margin-bottom: 30px;
}
.mainArticles .article,
.mainArticles div.gallery,
#mainTopics,
#listTopics {
  width: 980px;
  overflow: hidden;
}
.mainArticles .article {
  padding-bottom: 50px;
  border-bottom: solid 1px #ddd;
}

.mainArticles .article .image {
  text-align: center;
  margin-bottom: 15px;
  width: auto;
  overflow: hidden;
  max-width: 980px;
}

.mainArticles .article_right .image {
  float: right;
  margin: 0 10px 0 40px;
  margin-bottom: 0;
  max-width: 400px;
  width: auto;
  overflow: hidden;
}

.mainArticles .article_left .image {
  float: left;
  margin: 0 40px 0 10px;
  margin-bottom: 0;
  max-width: 400px;
  width: auto;
  overflow: hidden;
}

.mainArticles .article_right img,
.mainArticles .article_left img {
  max-width: 400px;
}

/** gallery **/
.mainArticles ul.galleryImages {
  padding-left: 30px;
}

.mainArticles ul.galleryImages li {
  width: 187px;
  height: 180px;
  margin: 0 30px 30px 0;
  padding: 10px;
  float: left;
  overflow: hidden;
}

.mainArticles ul.galleryImages li .image {
  margin-bottom: 10px;
  text-align: center;
}

.mainArticles ul.galleryImages li .image img {
  max-width: 187px;
  max-height: 187px;
}

.mainArticles ul.galleryImages li .title {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 17px;
  font-size: 12px;
}

/** Services **/
#mainServices {
  width: 980px;
  margin-bottom: 50px;
}
#mainServices .services {
  width: 910px;
  padding: 0 50px;
  margin-top: -20px;
  border-bottom: 4px solid #e9e9e9;
}
.mainServices .services li {
  width: 390px;
  padding: 30px 30px 28px 30px;
  border-bottom: solid 1px #ddd;
  float: left;
}
.mainServices .services li.odd {
  border-right: dotted 1px #ccc;
}
.mainServices .services li.even {
  float: right;
}
.mainServices .service h3 {
  width: 320px;
  overflow: hidden;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: normal;
}
.mainServices .service h3 a {
  text-decoration: none;
}
.mainServices .service h3 a:hover {
  text-decoration: underline;
}
.mainServices .service .description {
  width: 320px;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 12px;
}
.mainServices .service .more a {
  width: 70px;
  height: 12px;
  text-indent: -9999px;
  display: block;
  float: right;
}

/** Topics **/
#mainTopics {
  padding-bottom: 15px;
  border-bottom: 4px solid #e9e9e9;
}
.mainTopics .topics {
  overflow: hidden;
  width: 820px;
  padding: 0 80px;
  margin: -20px 0 15px;
  border-bottom: 4px solid #e9e9e9;
}
.mainTopics .topics li .more a {
  border: solid 2px #e64537;
}
.mainTopics .topics li {
  padding: 40px 10px;
  border-bottom: solid 1px #ddd;
  font-size: 12px;
}
.mainTopics .topics li .thumb {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.mainTopics .topics li h3 {
  font-weight: normal;
  font-size: 15px;
}
.mainTopics .topics li h3 a:hover {
  text-decoration: none;
}
.mainTopics .topics li .description {
  margin-top: 10px;
}
/* .mainTopics .topics li .more {
  margin-top: 11px;
  text-align: right;
} */
.mainTopics .topics li .more a {
  padding: 5px 16px 4px;
  text-decoration: none;
}
.mainTopics .topics li .more a:hover {
  color: #333;
  border: solid 2px #333;
}
.mainTopics .topics li .date {
  margin-bottom: 12px;
  line-height: 1;
  font-size: 11px;
  color: #999;
}
.mainTopics .topics li.photo_gallery .category {
  padding: 2px 7px 1px;
  margin-right: 8px;
  font-size: 10px;
  border: solid 1px #aaa;
}

/** mainTopics **/
#mainTopics .listview {
  width: 160px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#mainTopics .listview a {
  padding-left: 24px;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #555;
}
#mainTopics .listview a:hover {
  text-decoration: underline;
}
#mainTopics .topics li {
  padding: 15px 10px 16px;
  /* position: relative; */
}
#mainTopics .topics li .thumb {
  max-width: 80px;
  max-height: 60px;
  margin-right: 15px;
}
#mainTopics .topics li .thumb img {
  max-width: 80px;
  max-height: 60px;
}
#mainTopics .topics h3,
#mainTopics .topics .description {
  padding-right: 100px;
}
#mainTopics .topics h3 {
  font-size: 13px;
}
#mainTopics .topics .description {
  font-size: 11px;
  color: #aaa;
  margin-top: 2px;
}
#mainTopics .topics li .date {
  font-size: 10px;
  margin: 2px 0 4px;
}
#mainTopics .topics li.photo_gallery .category {
  padding: 1px 6px 1px;
  font-size: 9px;
}
/* #mainTopics .topics li .more {
  position: absolute;
  right: 0;
  bottom: 18px;
} */
#mainTopics .topics li .more a {
  padding: 3px 14px 2px;
  font-size: 11px;
}

/** listTopics **/
#listTopics .topics li .thumb img {
  max-width: 150px;
  max-height: 150px;
}

/** MAP **/
#gmap {
  width: 570px;
  height: 400px;
}

/** Table
------------------------------ **/

#article_contact,
#article_company {
  width: 880px;
  margin-top: -25px;
  padding: 50px;
  background-color: #f3f3f3;
  border: none;
}

table.contactTable,
table.companyTable {
  width: 780px;
  border-collapse: collapse;
  margin: 0 auto;
}
table.contactTable th,
table.companyTable th,
table.contactTable td,
table.companyTable td {
  padding: 15px 20px 15px 0;
  text-align: left;
  border-bottom: solid 1px #d0d0d0;
}
table.companyTable th,
table.contactTable th,
table.contactTable td {
  border: none;
}
table.contactTable th,
table.companyTable th {
  width: 150px;
}

/** Contact
------------------------------ **/

table.contactTable .textField,
table.companyTable td {
  width: 550px;
}
table.contactTable .textField {
  padding: 5px 4px;
}
table.contactTable input.button {
  padding: 9px 50px;
  background-color: #000;
  color: #fff;
  border: none;
}
#article_contact_ext {
  font-size: 12px;
  border: none;
}
table.contactTable input[type='text'],
table.contactTable input[type='password'],
table.contactTable textarea {
  padding: 4px;
  border: solid 1px #777;
  background-color: #fff;
}
table.contactTable tr th {
  text-align: right;
}
table.contactTable tr.must th {
  background-position: 4px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}
table.contactTable .textField {
  width: 490px;
}
table.contactTable input.validator-invalid {
  border-style: solid;
}
table.contactTable input.validator-valid {
  border-style: solid;
}

/** Company
------------------------------ **/
table.companyTable td {
  padding-left: 15px;
}
