#list-service-special .item-service h3 {
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 52px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 180%;
  font-weight: bold;
  padding: 0 30px;
  margin-bottom: 0;
  border: none;
  background-color: #18a4ea;
  background-image: repeating-linear-gradient(-45deg, #43b1e8, #43b1e8 7px, transparent 0, transparent 14px);
  color: #fff;
}

#list-service-special .item-service .content .description {
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 64px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
}

#list-service-special .content {
  background-color: #cef;
}

#list-service-special .content .fee,
#list-service-special .content .size {
  border-bottom: 1px solid #999;
}

#list-service-special .content .title,
#list-service-special .content .value {
  padding: 12px;
}
