h4.with-background {
  padding: 10px 10px 0;
  margin: 0 0 14px;
  font-size: 120%;
  font-feature-settings: 'palt';
  line-height: 1.4em;
  color: #333;
  display: table;
  background: linear-gradient(transparent 60%, #ffd574 60%);
  font-weight: bold;
}

section.list-service {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.list-service > .item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

section.list-service img {
  padding: 8px;
  max-width: 128px;
  border-radius: 8px;
  border: 2px solid #ff6a00;
  max-height: 128px;
}

a {
  text-decoration: underline;
}

.contact-communication {
  margin-top: 24px;
}

div.post-container a.line-btn img {
  width: 32px;
  border: 0;
  display: inline-block;
}

.contact-communication div.post-container img {
  border: 1px solid #333;
  border-radius: 32px;
}

a.line-btn {
  background-color: #06c755;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 16px;
  display: block;
  font-size: 120%;
  font-weight: 700;
  text-align: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

a.line-btn.red {
  background-color: #d32f2f;
}

.image-gallery.width-background {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
}

.image-gallery.width-background > figure {
  background-color: #cef;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-radius: 16px;
}

.image-gallery.width-background > figure > img {
  border-radius: 8px;
}

.image-gallery.width-background > figure > h4 {
  color: #07c;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
}

.image-gallery.grid-cols-2 img {
  width: inherit;
  height: calc(100% - 32px);
  margin: 8px auto;
}

.image-gallery.grid-cols-2 figcaption,
.image-gallery.width-background > figure > figcaption {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  line-height: 1.65;
  -webkit-box-orient: vertical;
  text-align: justify;
  word-spacing: -1px;
}

.image-gallery.grid-cols-2 figure {
  max-height: 400px;
}

.image-gallery.grid-cols-2 figcaption {
  text-align: center;
}

.image-gallery.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.image-gallery.logo img {
  width: 94px;
  margin-left: auto;
  margin-right: auto;
}

.image-gallery.grid-cols-2 {
  display: grid;
  gap: 16px;
}

li.list-asterisk {
  position: relative;
}

li.list-asterisk::before {
  content: '※';
  position: absolute;
  left: -20px;
  top: 6px;
  font-family: 'メイリオ', sans-serif;
}

@media (max-width: 640px) {
  .image-gallery.logo > div {
    width: 45%;
  }

  .image-gallery.grid-cols-2 figure {
    max-height: 200px;
  }

  .image-gallery.width-background {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  section.list-service > .item {
    flex-direction: column;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .image-gallery.width-background {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .contact-communication {
    margin-top: 50px;
  }

  h4.with-background {
    font-size: 140%;
  }

  section.list-service > .item {
    gap: 32px;
  }

  div.post-container.with-background::before {
    width: calc(100% + 120px);
    left: -60px;
  }

  div.post-container.--with-img {
    flex-direction: row;
    align-items: start;
    gap: 32px;
  }

  a.line-btn {
    width: 380px;
    font-size: 140%;
  }

  div.post-container a.line-btn img {
    width: 40px;
    border: 0;
    display: inline-block;
  }
}
